/*------Header Navigation--------*/

nav {
    height: 60px;
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 24px;

}

.logo {
    align-items: center;
    font-size: 1.5rem;
}

.logo-title {
    margin-left: 8px;
    font-family: var(--logo-title-font);
    font-size: 1.9rem;
    font-weight: 500;
    line-height: 32px;
}

.menu {
    order: 2;
    font-family: var(--main-font);

}

.menu-list {
    width: calc(100vw - 50px);
    height: 160px;
    position: absolute;
    right: 0;
    top: 65px;
    text-align: center;
    transition: all .5s ease;
    background-color: var(--primary-yellow);
}

.menu-item a {
    display: block;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
    color: var(--black-gray-secondary);
}

.menu-item a:hover {
    color: var(--primary-blue);
    font-size: 2rem;
    font-weight: 600;
}

.btn-nav {
    min-width: 90px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--main-font);
    font-weight: 1.125rem;
    line-height: 24px;
    margin-left: auto;
    background-color: var(--primary-blue);
    color: var(--white-primary);
}

.btn-nav:hover {
    background-color: var(--primary-yellow);
}

.burger-icons {
    margin-left: 20px;
}

/*------Header Content--------*/

.header {
    padding: 34px 0 44px 0;
}

.header-contant {
    width: 100%;
    max-width: 650px;
}

.header-title {
    max-width: 645px;
    font-family: var(--main-font);
    font-size: 3rem;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 24px;
}

.header-description {
    max-width: 370px;
    font-family: var(--main-font);
    font-size: 1.25;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 44px;
    color: var(--black-gray);
}

.header-image {
    max-width: 598px;
}

.header-btn {
    font-family: var(--main-font);
    margin-bottom: 40px;
}

.btn-left,
.btn-right {
    width: 136;
    height: 56px;
    padding: 16px 28px;
}

.btn-left {
    margin-right: 28px;
}

.btn-left {
    background-color: var(--primary-blue);
    color: var(--white-primary);
}

.btn-right {
    background-color: var(--white-primary);
    border: 1px solid var(----black-gray-primary);
}

/*------MEDIA QUERIES-------*/
/*------Header Navigation--------*/

@media (min-width:768px) {
    .logo-title {
        font-size: 2.625rem;
    }

    .menu {
        order: 0;
        margin-left: auto;
    }

    .burger-icons {
        display: none;
    }

    .menu-list {
        position: static;
        width: auto;
        height: auto;
    }

    .menu-list {
        display: flex;
        background-color: transparent;
    }

    .menu-item a {
        margin-top: 20px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 15px;
    }

    .menu-item a:hover {
        font-size: 1.125rem;

    }

    .menu-item:not(:last-child) {
        margin-right: 30px;
    }

    nav.d-flex {
        justify-content: space-between;
    }

    .btn-nav {
        width: 147px;
        font-size: 1.125rem;
        margin-left: 44px;
    }

}

@media (min-width:992px) {

    .menu-item:not(:last-child) {
        margin-right: 40px;
    }

    .btn-nav {
        width: 187px;
        font-size: 1.125rem;
        margin-left: 64px;
    }
}

/*------Header Content--------*/

@media (min-width:576px) {
    .header-title {
        font-size: 2.5rem;
        line-height: 44px;
        margin-bottom: 44px;
    }

    .header-description {
        font-size: 1.25;
        margin-bottom: 44px;

    }

    .header-btn {
        margin-bottom: 40px;
    }
}

@media (min-width:768px) {
    .header {
        display: flex;
        padding: 63px 0 104px 0;
        gap: 34px;
    }

    .header-title {
        font-size: 3rem;
        line-height: 54px
    }

    .header-description {
        font-size: 1.25;
        line-height: 28px;
        margin-bottom: 44px;
    }

    .btn-left,
    .btn-right {
        padding: 16px 38px;
    }

    .btn-left {
        margin-right: 28px
    }

    .header-btn {
        margin-bottom: 40px;
    }
}

@media (min-width:992px) {
    .header {
        gap: 48px;
    }

    .header-title {
        font-size: 3.5rem;
        line-height: 74px
    }

    .header-description {
        line-height: 34px;
    }

    .btn-left {
        margin-right: 38px
    }
}

@media (min-width:1100px) {

    .btn-left {
        margin-right: 48px;
    }
}