/*--SECTION TEAM--*/
/*---header-content--*/
.team {
    padding: 64px 0 72px 0;
    background-color: var(--white-bg);
    font-family: var(--main-font);
}

.team .header-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;
}

.team .header-left .text-top {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 44px;
}

.team .header-left .text-bottom {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 54px;
}

.team .header-right {
    display: flex;
    justify-content: space-between;
}

.team .text-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 1150px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 64px;
}

.team .header-right .border {
    width: 100%;
    max-width: 1080px;
    border-bottom: 1px solid var(--black-gray-gray-tone);
}

/*---cards----*/
.cards {

    position: relative;
}

.cards i {
    width: 40px;
    height: 72px;
    text-align: center;
    background-color: var(--black-gray-black-5);
    cursor: pointer;
    position: absolute;
}


.cards .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 248px);
    grid-template-rows: repeat(auto-fill, 416px);
    justify-content: center;
    align-items: center;
}

.cards .container .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 248px;
    margin-bottom: 30px;
    margin-left: 0;
}

.cards .item .image {
    max-width: 216px;
    margin-bottom: 32px;
}

.cards .item .title {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 34px;
}

.cards .item .description {
    margin-bottom: 32px;
    color: var(--black-gray);
}

.cards .item .button {
    padding: 12px 40px;
    font-size: 1rem;
    border: 1.5px solid var(--primary-blue);
    border-radius: 8px;
}

/*--SECTION-CLIENT--*/
.client {
    font-family: var(--main-font);
    padding: 46px 0;
}

/*---section-image----*/

.client .section-content {
    width: 100%;
    max-width: 318px;
    position: relative;
}

.client .section-content .background-col {
    position: absolute;
    top: -35px;
    left: 44px;
    width: 100%;
    max-width: 232px;
    height: 470px;
    border-radius: 8px;
    background-color: var(--secondary-yellow);
}

.client .section-content .image {
    position: absolute;
    width: 100%;
    max-width: 318px;
    padding: 40px;
    background-color: var(--white-primary);
    border-radius: 8px;
    box-shadow: 0px 8px 24px 0px rgba(34, 48, 114, 0.07);
}

.client .image img {
    width: 100%;
    max-width: 238px;
    margin-bottom: 24px;
}

.client .image .image-title {
    max-width: 232px;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 8px;
    text-align: center;

}

.client .image .image-icon {
    max-width: 232px;
    color: var(--secondary-yellow);
    text-align: center;
}

/*----section-information------*/
.client .container .section-information {
    width: 100%;
    max-width: 706px;
    margin-top: 30px;
    color: var(--white-primary);

}

.client .section-information .title {
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 60px;
    border-top: 1px solid var(--white-25);
    margin-bottom: 40px;
    padding-top: 16px;
}

.client .section-information .icon-description {
    font-size: 48px;
    color: var(--white-25);
    margin-bottom: 16px;
}

.client .section-information .text-description {
    max-width: 706px;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.64px;
}

/*--SECTION-CONSULT--*/
.consult {
    padding: 60px;
    font-family: var(--main-font);
}

/*--header-content--*/
.consult .header-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;

}

.consult .header-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 800px;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 54px;

}

.consult .header-left .border {
    width: 100%;
    max-width: 800px;
    border-bottom: 1px solid var(--black-gray-gray-tone);
}

.consult .header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.consult .header-right .text-top {
    font-size: 2rem;
    font-weight: 600;
    line-height: 54px;
}

.consult .header-right .text-bottom {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 54px;
}

.consult .content {
    display: flex;
    justify-content: space-between;
}

/*---section-image--*/
.consult .section-img {
    position: relative;
    width: 100%;
    max-width: 496px;
    font-family: var(--main-font);
}

.consult .section-img .background-col {
    width: 100%;
    max-width: 380px;
    height: 558px;
    border-radius: 32px;
    background-color: var(--primary-blue);
}

.consult .section-img .image-front {
    position: absolute;
    top: 40px;
    width: 100%;
    max-width: 448px;
    max-height: 588px;
}

/*----section-form--*/
.consult .section-form {
    max-width: 100%;
    max-width: 800px;
    padding: 24px 33px 24px 23px;
}

.consult form {
    width: 100%;
    max-width: 636px;
}

.consult .section-form input {
    width: 100%;
    max-width: 298px;
    padding: 12px 16px;
    border-radius: 8px;
}

.consult .section-form textarea {
    width: 100%;
    max-width: 298px;
    max-width: 604px;
}

.consult .name,
.phone,
.date,
.doctor {
    width: 100%;
    margin-bottom: 20px;
}

.consult .name,
.date {
    margin-right: 40px;
}

.consult .section-form label {
    margin-top: 8px;
}

.consult .section-form .message {
    width: 100%;
    max-width: 636px;
    margin-bottom: 32px;
}

.consult .section-form .message textarea {
    width: 100%;
    max-width: 636px;
    border-radius: 8px;
}

.consult .section-form .check {
    margin-bottom: 24px;
}

.consult .section-form .button {
    width: 100%;
    max-width: 636px;
    height: 58px;
    text-align: center;
    padding: 16px 0;
    border-radius: 8px;
    color: var(--white-primary);
    background-color: var(--primary-blue);
}

/*--SECTION-LETTER--*/

.letter .content-wrap {
    margin: 96px 0;
}

.letter .content-wrap .content {
    position: relative;
    width: 100%;
    min-height: 316px;
    border-radius: 20px;
    padding-top: 96px;
    background-color: var(--background);
    font-family: var(--main-font);
}

.letter .content-wrap .vector-light,
.vector-dark {
    position: absolute;
    width: 146px;
    height: 91px;
}

.letter .content-wrap .vector-dark {
    bottom: 225px;
    left: 0;

}


.letter .content-wrap .vector-light {
    top: 225px;
    right: 0px;
}

.letter .content-letter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.letter .content-letter .title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 46px;
    color: var(--white-primary);
    margin-bottom: 48px;
}

.letter .content-letter .input:not(:last-child) {
    margin-right: 24px;
}

.letter .content-letter input {
    width: 100%;
    max-width: 270px;
    height: 58px;
    padding: 17px 16px 17px 20px;
    border-radius: 9px;
}

/*---MEDIA QUERYES---*/
/*--SECTION TEAM--*/
/*---header-content--*/
@media (min-width:768px) {
    .team {
        padding: 128px 0 144px 0;
    }

    .team .header-content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 88px;
    }

    .team .header-left .text-top {
        font-size: 3rem;
        line-height: 64px;
    }

    .team .header-left .text-bottom {
        font-size: 3.75rem;
        line-height: 64px;
    }

    .team .header-right {
        font-size: 3.5rem;
        line-height: 74px;
    }
}

/*---card----*/

/*--SECTION-CLIENT--*/
@media (min-width:768px) {
    .client {
        padding: 96px 0;
    }

    .client .container {
        padding: 0 102px;
    }
}

.client .container .swiper-slide {
    display: flex;
}

/*---section-image----*/
@media (min-width:768px) {
    .client .section-information {
        margin-left: 115px;
    }
}

/*----section-information------*/


/*--SECTION-CONSULT--*/
@media (min-width:768px) {
    .consult .content {
        display: flex;
        flex-direction: row;
        margin-top: 72px;
    }

    .consult .content-wrap {
        padding: 120px;
    }

    .consult .section-form {
        padding: 48px 66px 48px 98px;
    }

}

/*--SECTION-LETTET--*/
@media (min-width:768px) {

    .letter .content-letter .title {
        font-size: 2.625rem;
    }

}