@import url('https://fonts.googleapis.com/css2? family= Ubuntu:wght@500 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Inter:wght@400;500;600;700 & display=swap');
@import url('_header.css');
@import url('_variables.css');
@import url('_section-f.css');
@import url('_section-s.css');
@import url('_footer.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

.content-wrap {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 25px;
}


.d-flex {
    display: flex;
}


.t-center {
    text-align: center;
}

.t-color {
    color: var(--secondary-yellow);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.border {
    border-bottom: 1px solid var(--black-gray-gray-tone);
}

.uppercase {
    text-transform: uppercase;
}

.menu-close {
    height: 0;
    overflow: hidden;
    transition: all 1s ease;
}

.btn {
    border-radius: 8px;
    cursor: pointer;
}

.bg-color {
    background-color: var(--primary-blue);
}

.bg-col {
    background-color: var(--white-bg);
}