@import url('https://fonts.googleapis.com/css2? family= Ubuntu:wght@500 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Inter:wght@400;500;600;700 & display=swap');
@import url('_header.css');
@import url('_variables.css');
@import url('_section-f.css');
@import url('_section-s.css');
@import url('_footer.css');

:root {
    --black-gray-secondary: #52525B;
    --white-primary: #FFF;
    --white-bg: #F8FAFC;
    --white-25: rgba(255, 255, 255, 0.25);
    --white-30: rgba(255, 255, 255, 0.30);
    --secondary-yellow: #FFD700;
    --primary-blue: #516EFF;
    ----black-gray-primary: #18181B;
    --primary-yellow: #FFE766;
    --black-gray: #777777;
    --background: #216583;
    --black-gray-gray-tone: #BCBCBC;
    --black-gray-black-25: rgba(82, 82, 91, 0.25);
    --black-gray-black-10: rgba(82, 82, 91, 0.10);
    --black-gray-d-0-d-5-dd: #D0D5DD;
    --white-30: rgba(255, 255, 255, 0.30);
    --black-gray-black-5: rgba(24, 24, 27, 0.05);
    --logo-title-font: 'Ubuntu', sans-serif;
    --main-font: 'Inter', sans-serif;
    --black-gray-primary: #18181B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

.content-wrap {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 25px;
}


.d-flex {
    display: flex;
}


.t-center {
    text-align: center;
}

.t-color {
    color: var(--secondary-yellow);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.border {
    border-bottom: 1px solid var(--black-gray-gray-tone);
}

.uppercase {
    text-transform: uppercase;
}

.menu-close {
    height: 0;
    overflow: hidden;
    transition: all 1s ease;
}

.btn {
    border-radius: 8px;
}

.bg-color {
    background-color: var(--primary-blue);
}

.bg-col {
    background-color: var(--white-bg);
}


@media (min-width:768px) {
    .hide-mobile {
        display: flex;
    }

    .hide-desktop {
        display: none;
    }
}

@media (min-width:1450px) {
    .content-wrap {
        padding: 0;
    }
}

/*------Header Navigation--------*/

nav {
    height: 60px;
    position: relative;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 24px;

}

.logo {
    align-items: center;
    font-size: 1.5rem;
}

.logo-title {
    margin-left: 8px;
    font-family: var(--logo-title-font);
    font-size: 1.9rem;
    font-weight: 500;
    line-height: 32px;
}

.menu {
    order: 2;
    font-family: var(--main-font);

}

.menu-list {
    width: calc(100vw - 50px);
    height: 160px;
    position: absolute;
    right: 0;
    top: 65px;
    text-align: center;
    transition: all .5s ease;
    background-color: var(--primary-yellow);
}

.menu-item a {
    display: block;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
    color: var(--black-gray-secondary);
}

.menu-item a:hover {
    color: var(--primary-blue);
    font-size: 2rem;
    font-weight: 600;
}

.btn-nav {
    min-width: 90px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--main-font);
    font-weight: 1.125rem;
    line-height: 24px;
    margin-left: auto;
    background-color: var(--primary-blue);
}

a .btn-nav {
    color: var(--white-primary);
}

.btn-nav:hover {
    background-color: var(--primary-yellow);
}

.burger-icons {
    margin-left: 20px;
}

/*------Header Content--------*/

.header {
    padding: 34px 0 44px 0;
}

.header-contant {
    width: 100%;
    max-width: 650px;
}

.header-title {
    max-width: 645px;
    font-family: var(--main-font);
    font-size: 3rem;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 24px;
}

.header-description {
    max-width: 370px;
    font-family: var(--main-font);
    font-size: 1.25;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 44px;
    color: var(--black-gray);
}

.header-image {
    max-width: 598px;
}

.header-btn {
    font-family: var(--main-font);
    margin-bottom: 40px;
}

.btn-left,
.btn-right {
    width: 136;
    height: 56px;
    padding: 16px 28px;
}

.btn-left:hover {
    background-color: var(--primary-yellow);
}

.btn-right:hover {
    background-color: var(--primary-yellow);
}

a .btn-left {
    color: var(--white-primary);
}

.btn-left {
    margin-right: 28px;
}

a .btn-right {
    color: var(----black-gray-primary);
}

.btn-left {
    background-color: var(--primary-blue);
}

.btn-right {
    background-color: var(--white-primary);
    border: 1px solid var(----black-gray-primary);
}

/*------MEDIA QUERIES-------*/
/*------Header Navigation--------*/

@media (min-width:768px) {
    .logo-title {
        font-size: 2.625rem;
    }

    .menu {
        order: 0;
        margin-left: auto;
    }

    .burger-icons {
        display: none;
    }

    .menu-list {
        position: static;
        width: auto;
        height: auto;
    }

    .menu-list {
        display: flex;
        background-color: transparent;
    }

    .menu-item a {
        margin-top: 20px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 15px;
    }

    .menu-item a:hover {
        font-size: 1.125rem;

    }

    .menu-item:not(:last-child) {
        margin-right: 30px;
    }

    nav.d-flex {
        justify-content: space-between;
    }

    .btn-nav {
        width: 147px;
        font-size: 1.125rem;
        margin-left: 44px;
    }

}

@media (min-width:992px) {

    .menu-item:not(:last-child) {
        margin-right: 40px;
    }

    .btn-nav {
        width: 187px;
        font-size: 1.125rem;
        margin-left: 64px;
    }
}

/*------Header Content--------*/

@media (min-width:576px) {
    .header-title {
        font-size: 2.5rem;
        line-height: 44px;
        margin-bottom: 44px;
    }

    .header-description {
        font-size: 1.25;
        margin-bottom: 44px;

    }

    .header-btn {
        margin-bottom: 40px;
    }
}

@media (min-width:768px) {
    .header {
        display: flex;
        padding: 63px 0 104px 0;
        gap: 34px;
    }

    .header-title {
        font-size: 3rem;
        line-height: 54px
    }

    .header-description {
        font-size: 1.25;
        line-height: 28px;
        margin-bottom: 44px;
    }

    .btn-left,
    .btn-right {
        padding: 16px 38px;
    }

    .btn-left {
        margin-right: 28px
    }

    .header-btn {
        margin-bottom: 40px;
    }
}

@media (min-width:992px) {
    .header {
        gap: 48px;
    }

    .header-title {
        font-size: 3.5rem;
        line-height: 74px
    }

    .header-description {
        line-height: 34px;
    }

    .btn-left {
        margin-right: 38px
    }
}

@media (min-width:1100px) {

    .btn-left {
        margin-right: 48px;
    }
}

/*---SECTIONS---*/

/*--SECTION-SERVICES*/

/*-----Holder----*/

.holder {
    padding: 64px 0;
    font-family: var(--main-font);
}

.holder .content {
    color: var(--white-primary);
}


.holder .section-title {
    font-size: 2.625rem;
    font-weight: 600;
    line-height: 46px;
    margin-bottom: 16px;
}

.holder .section-description {
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 48px;
}

.buttons {
    flex-direction: column;
    align-items: center;
}

.btn-call,
.btn-data,
.btn-consult {
    width: 147px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 11px;
    padding: 21px 21px;
    background-color: var(--white-primary);
    color: var(----black-gray-primary);
}

.btn-call:hover {
    background-color: var(--primary-yellow);
}

.btn-data:hover {
    background-color: var(--primary-yellow);
}

.btn-consult:hover {
    background-color: var(--primary-yellow);
}

.btn-call,
.btn-data {
    margin-bottom: 48px;
}

.btn-icon i {
    font-size: 28px;
}

.btn-title {
    max-width: 112px;
    font-family: var(--main-font);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 24px;
    margin-top: 16px;
}

/*--Key-Service----*/
.key-services {
    font-family: var(--main-font);
}

.key-services .header {
    padding: 44px 0;
}

.key-services .header {
    background-color: var(--white-bg);
    border-radius: 0 0 25% 0;
}

.key-services .section-title {
    padding: 16px 32px 46px 0;
    border-bottom: 1px solid var(--primary-blue);
    margin-bottom: 35px;
}

.key-services .title {
    width: 100%;
    max-width: 526px;
    font-size: 3rem;
    font-weight: 600;
    line-height: 64px;
}

.key-services .section-img {
    padding: 0 31px;
}

.key-services .image {
    max-width: 496px;
}

.key-services .content {
    padding: 44px 0;
}

.content .details {
    margin-bottom: 28px;
}

.details .details-text {
    max-width: 666px;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 34px;
    color: var(--black-gray);
}

.service-list {
    max-width: 778px;
    font-weight: 500;
    padding: 40px 0 16px 72px;
    color: var(--black-gray-primary);
}

.list-title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 34px;
    margin-bottom: 32px;
}

.list-blocks {
    display: flex;
    flex-direction: column;
    max-width: 666px;
}

.icon-block .icon-bg {
    position: relative;
    font-size: 32px;
    color: var(--black-gray);
}

.icon-block .icon-front {
    position: absolute;
    top: 6px;
    right: 6px;
    color: var(--white-primary);
}

.item {
    position: relative;
    margin-left: 46px;
}

.icon-block {
    position: absolute;
}

.block-r-side,
.block-l-side {
    font-size: 1.375rem;
    font-weight: 500;
    line-height: 32px;
}

.block-l-side {
    margin-right: 98px;
    margin-bottom: 24px;
}

.block-r-side .item:not(:last-child) {
    margin-bottom: 24px;
}

.block-l-side .item:not(:last-child) {
    margin-bottom: 24px;
}

/*--SECTION-FEATURES*/
/*--header-features--*/
.section-features {
    font-family: var(--main-font);
    padding: 50px 0;
}

.section-features .header-content {
    margin-bottom: 60px;
}

.section-features .content-left {
    max-width: 502px;
}

.section-features .text-top {
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 54px;
}

.section-features .text-bottom {
    max-width: 205px;
    font-size: 2.5rem;
    font-weight: 700;
}

.section-features .content-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.section-features .text-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1150px;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 74px;
}

.section-features .text-right .border {
    width: 100%;
    max-width: 1000px;
    border-bottom: 1px solid var(--black-gray-gray-tone);
}


/*--cards content--*/
.cards-content .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 384px;
    padding: 20px 16px;
    border: 1px solid var(--black-gray-black-10);
    border-radius: 16px;
    background-color: var(--white-bg);
    margin-left: 0;
}

.cards-content .icon {
    max-width: 97px;
    min-height: 97px;
    margin-bottom: 14px;
}

.cards-content .title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 12px;
}

.cards-content .description {
    max-width: 320px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
}

.cards-content .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    grid-template-rows: repeat(auto-fill, 283px);
    justify-content: space-around;
    row-gap: 72px;
}


/*SECTION APPINMENT*/
.section-appinment {
    font-family: var(--main-font);
    color: var(--white-primary);
}

.section-appinment .container {
    flex-direction: column;
    align-items: center;
}

.section-appinment .content-wrap {
    padding: 48px 0;
}

.section-appinment .container {
    padding: 0 68px;
}

.section-appinment .title {
    font-size: 2rem;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 24px;
    text-align: center;
}

.title .t-bold {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 64px;
}

.section-appinment .description {
    max-width: 914px;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-bottom: 28px;
}

.container .btn-transparent {
    width: 204px;
    height: 51px;
    padding: 16px 12px;
    border: 2px solid var(--white-primary);
    border-radius: 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 14px;
}

.container .btn-transparent:hover {
    background-color: var(--primary-yellow);
}

.container a .btn-transparent {
    color: var(--white-primary);
}

/*------History----------*/
/*---header-content-----*/
.history {
    font-family: var(--main-font);
    padding: 65px 0;
}

.history .header-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 72px;

}

.history .header-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 54px;
    max-width: 950px;
}

.history .header-left .border {
    width: 100%;
    max-width: 950px;
    border-bottom: 1px solid var(--black-gray-gray-tone);
}

.history .header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.history .header-right .text-top {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 54px;
}

.history .header-right .text-bottom {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 54px;
}

/*----information-content---*/
.history .section-img {
    position: relative;
    max-width: 555px;
    max-height: 330px;
    width: 100%;
}

.history .section-img .col-bg {
    max-width: 122px;
    height: 308px;
    border-radius: 12px;
    background-color: var(--primary-blue);
}

.history .section-img .img-bg {
    position: absolute;
    top: 30px;
    right: 32px;
    max-width: 50px;
    max-height: 153px;
}

.history .section-img .image-front {
    position: absolute;
    bottom: 50px;
    right: 55px;
    max-width: 462px;
    border-radius: 16px;
}

.history .section-text {
    width: 100%;
    max-width: 634px;
    padding: 48px;
    border-radius: 16px;
    background-color: var(--white-bg);
}

.history .section-text .text-title {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 34px;
    margin-bottom: 20px;
}

.history .section-text .text-description {
    width: 100%;
    max-width: 538px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.64px;

}

/*------MEDIA QUERIES-------*/
/*-----Holder----*/
@media (min-width:576px) {
    .buttons {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 48px;
        justify-content: space-around;
    }

    .btn-call,
    .btn-data {
        margin-bottom: 0;
    }
}

@media (min-width:768px) {

    .holder .content {
        display: flex;
    }

    .content-text {
        margin-right: 42px;
    }

    .buttons {
        flex-wrap: nowrap;
        gap: 32px;

    }

    .btn-icon i {
        font-size: 32px;
    }

}

@media (min-width:992px) {
    .content-text {
        margin-right: 132px;
    }

    .buttons {
        gap: 35px;
    }

    .btn-call,
    .btn-data,
    .btn-consult {
        width: 156px;
        border-radius: 13px;
        padding: 21px 25px;

    }
}

@media (min-width:1050px) {

    .content-text {
        margin-right: 172px;
    }

    .buttons {
        gap: 48px;
    }

    .btn-icon i {
        font-size: 48px;
    }

    .btn-call,
    .btn-data,
    .btn-consult {
        width: 176px;
        border-radius: 16px;
        padding: 24px 32px;
    }
}

/*--Key-Service----*/
@media (min-width:768px) {
    .key-services .content-wrap {
        display: flex;
    }

    .key-services .header {
        display: flex;
        flex-direction: column;
        padding: 104px 0;
    }

    .key-services .content {
        padding: 104px 0;
    }

    .content .details {
        max-width: 778px;
        padding: 32px 0 56px 72px;
        margin-bottom: 48px;
    }

    .list-blocks {
        display: flex;
        flex-direction: row;
    }

    .block-l-side {
        margin-bottom: 0;
    }
}

/*--SECTION-FEATURES*/
/*--header-features--*/
@media (min-width:580px) {
    .section-features {
        font-family: var(--main-font);
        padding: 80px 0;
    }

    .section-features .header-content {
        margin-bottom: 60px;
    }

    .section-features .content-left {
        max-width: 502px;
    }

    .section-features .text-top {
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 64px;
    }

    .section-features .text-bottom {
        max-width: 205px;
        font-size: 2.5rem;
        font-weight: 700;
    }

    .section-features .content-right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .section-features .text-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 1150px;
        font-size: 3rem;
        font-weight: 700;
        line-height: 54px;
    }

    .section-features .text-right .border {
        width: 100%;
        max-width: 1000px;
        border-bottom: 1px solid var(--black-gray-gray-tone);
    }
}

@media (min-width:768px) {
    .section-features {
        padding: 128px 0;
    }

    .section-features .header-content {
        margin-bottom: 80px;
    }

    .section-features .text-top {
        font-size: 3rem;
        font-weight: 600;
        line-height: 64px;
    }

    .section-features .text-bottom {
        font-size: 3.75rem;
        font-weight: 700;
    }

    .section-features .content-right {
        display: flex;
        justify-content: space-between;
    }

    .section-features .text-right {
        align-items: flex-end;
        justify-content: flex-end;
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 54px;
    }
}

/*--cards content--*/
@media (min-width:576px) {
    .cards-content .item {
        padding: 40px 32px;
    }

    .cards-content .icon {
        margin-bottom: 24px;
    }

    .cards-content .title {
        margin-bottom: 12px;
    }

    .cards-content .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, 384px);
        grid-template-rows: repeat(auto-fill, 340px);
        justify-content: space-around;
        row-gap: 72px;
    }
}

/*SECTION APPINMENT*/
@media (min-width:768px) {

    .section-appinment .content-wrap {
        padding: 88px 0;
    }

    .section-appinment .container {
        padding: 0 168px;
    }


    .section-appinment .description {
        margin-bottom: 56px;
    }

    .container .btn-transparent {
        width: 304px;
        height: 74px;
        line-height: 34px;
        padding: 20px 40px;
        border-radius: 12px;
    }
}

@media (min-width:992px) {

    .section-appinment .title {
        font-size: 2.25rem;
        line-height: 60px;
        margin-bottom: 24px;
    }

    .title .t-bold {
        font-size: 3rem;
    }

    .container .btn-transparent {
        width: 384px;
        height: 82px;
        padding: 24px 48px;
        border-radius: 16px;
    }
}

/*------History------*/
/*----header-content-----*/
@media (min-width:580px) {

    .history .header-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 72px;

    }

    .history .header-left {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 54px;
        width: 950px;
    }

    .history .header-left .border {
        width: 100%;
        max-width: 950px;
        border-bottom: 1px solid var(--black-gray-gray-tone);
    }

    .history .header-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .history .header-right .text-top {
        font-size: 2rem;
        font-weight: 600;
        line-height: 54px;
    }

    .history .header-right .text-bottom {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 54px;
    }
}

@media (min-width:768px) {
    .history {
        padding: 128px 0;
    }

    .history .header-left {
        font-size: 3.5rem;
        line-height: 74px;
    }

    .history .header-right .text-top {
        font-size: 3rem;
        line-height: 64px;
    }

    .history .header-right .text-bottom {
        font-size: 3.75rem;
        line-height: 64px;
    }
}

/*--information-content--*/

@media (min-width:768px) {
    .history {
        padding-bottom: 128px;
    }

    .history .information-content {
        display: flex;
        justify-content: space-between;
    }

    .history .section-image {
        position: relative;
        min-width: 570px;
    }


    .history .section-image .col-bg {
        max-width: 120px;
        height: 280px;
    }


    .history .section-text {
        max-width: 634px;
        padding: 48px;
        background-color: var(--white-bg);
    }

    .section-text .text-title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 34px;
        margin-bottom: 20px;
    }

    .section-text .text-description {
        font-size: 1rem;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 0.64px;

    }
}

/*--SECTION TEAM--*/
/*---header-content--*/
.team {
    padding: 64px 0 72px 0;
    background-color: var(--white-bg);
    font-family: var(--main-font);
}

.team .header-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;
}

.team .header-left .text-top {
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 44px;
}

.team .header-right .text-bottom {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 54px;
}

.team .header-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.team .text-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1150px;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 64px;
}

.team .header-right .border {
    width: 100%;
    max-width: 1080px;
    border-bottom: 1px solid var(--black-gray-gray-tone);
}

/*---cards----*/
.cards .container {
    display: flex;
    justify-content: center;
}

.cards .container .swiper .swiper-wrapper {
    max-width: 1112px;
    margin: 0 52px;
}

.container .swiper .swiper-button-prev,
.swiper-button-next {
    width: 40px;
    height: 72px;
    color: var(--black-gray-primary);
    background-color: var(--black-gray-d-0-d-5-dd);
}

.cards .container .swiper-slide {
    max-width: 248px;
}

.cards .container .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 248px;
    margin-bottom: 30px;
    margin-left: 0;
}

.cards .card .image {
    max-width: 216px;
    margin-bottom: 32px;
}

.cards .card .title {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 34px;
}

.cards .card .description {
    margin-bottom: 32px;
    color: var(--black-gray);
}

.cards .card .position {
    margin-bottom: 8px;
}

.cards .card .institute {
    text-align: center;
    margin-bottom: 32px;
}

.cards .card a .button {
    padding: 12px 40px;
    font-size: 1rem;
    border: 1.5px solid var(--primary-blue);
    border-radius: 8px;
    color: var(--primary-blue);
}

.cards .card a .button:hover {
    background-color: var(--primary-yellow);
}

.swiper-scrollbar {
    display: none;
}

/*--SECTION-CLIENT--*/
.client {
    font-family: var(--main-font);
    padding: 46px 0;
}

/*.client .container {
    height: 470px;
}*/

.client .swiper-slide .section-information {
    padding-top: 450px;
}


.client .container .swiper {
    position: relative;

}

/*.client .container .swiper .swiper-wrapper {
    height: 470px;
}*/

.client .container .swiper .swiper-pagination {
    position: absolute;
    left: 200px;
}

/*---section-image----*/

.client .section-content {
    width: 100%;
    max-width: 318px;
    position: relative;
}

.client .section-content .background-col {
    position: absolute;
    top: -5px;
    left: 44px;
    width: 100%;
    max-width: 200px;
    height: 450px;
    border-radius: 12px;
    background-color: var(--secondary-yellow);

}

.client .section-content .image {
    position: absolute;
    top: 30px;
    width: 100%;
    max-width: 318px;
    padding: 40px;
    background-color: var(--white-primary);
    border-radius: 8px;
    box-shadow: 0px 8px 24px 0px rgba(34, 48, 114, 0.07);
}

.client .image img {
    width: 100%;
    max-width: 238px;
    margin-bottom: 24px;
}

.client .image .image-title {
    max-width: 232px;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 8px;
    text-align: center;

}

.client .image .image-icon {
    max-width: 232px;
    color: var(--secondary-yellow);
    text-align: center;
}

/*----section-information------*/
.client .container .section-information {
    width: 100%;
    max-width: 706px;
    margin-top: 30px;
    color: var(--white-primary);

}

.client .section-information .title {
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 60px;
    border-top: 1px solid var(--white-25);
    margin-bottom: 40px;
    padding-top: 16px;
}

.client .section-information .icon-description {
    font-size: 48px;
    color: var(--white-25);
    margin-bottom: 16px;
}

.client .section-information .text-description {
    max-width: 706px;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0.64px;
}

/*--SECTION-CONSULT--*/
.consult {
    padding: 60px;
    font-family: var(--main-font);
}

/*--header-content--*/
.consult .header-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 72px;

}

.consult .header-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 900px;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 54px;

}

.consult .header-left .border {
    width: 100%;
    max-width: 900px;
    border-bottom: 1px solid var(--black-gray-gray-tone);
}

.consult .header-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.consult .header-right .text-top {
    font-size: 2rem;
    font-weight: 600;
    line-height: 54px;
}

.consult .header-right .text-bottom {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 54px;
}

.consult .content {
    display: flex;
    flex-direction: column;
}

/*---section-image--*/
.consult .section-img {
    position: relative;
    width: 100%;
    max-width: 496px;
    max-height: 588px;
    font-family: var(--main-font);
}

.consult .section-img .background-col {

    width: 100%;
    max-width: 350px;
    height: 280px;
    border-radius: 32px;
    background-color: var(--primary-blue);
    background-size: cover;
}

.consult .section-img .image-front {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 100%;
    max-width: 448px;
    max-height: 588px;
}

/*----section-form--*/
.consult .section-form {
    max-width: 100%;
    max-width: 800px;
    padding: 24px 33px 24px 23px;
    margin-top: 30px;
}

.consult form {
    width: 100%;
    max-width: 636px;
}

.consult .section-form input {
    width: 100%;
    max-width: 298px;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid var(--black-gray-black-25);
}

.consult .section-form .doctor select {
    width: 100%;
    max-width: 298px;
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid var(--black-gray-black-25);
}


.consult .section-form textarea {
    width: 100%;
    max-width: 298px;
    max-width: 604px;
    border: 1px solid var(--black-gray-black-25);
}

.consult .name,
.phone,
.date,
.doctor {
    width: 100%;
    margin-bottom: 20px;
}

.consult .name,
.date {
    margin-right: 40px;
}

.consult .section-form label {
    margin-bottom: 8px;
}

.consult .section-form .message {
    width: 100%;
    max-width: 636px;
    margin-bottom: 32px;
}

.consult .section-form .message textarea {
    width: 100%;
    max-width: 636px;
    border-radius: 8px;
}

.consult .section-form .check {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 24px;
    color: var(--black-gray-secondary);
}

.consult .check-title {
    margin-left: 12px;
}

.consult .section-form .button {
    width: 100%;
    max-width: 636px;
    height: 58px;
    text-align: center;
    padding: 16px 0;
    border-radius: 8px;
    background-color: var(--primary-blue);
}

.consult .section-form .button:hover {
    background-color: var(--primary-yellow);
}

.consult .section-form a .button {
    color: var(--white-primary);
}

/*--SECTION-LETTER--*/
.letter {
    background-color: var(--white-bg);
}

.letter .content-wrap {
    padding: 96px 0;
}

.letter .content-wrap .content {
    position: relative;
    width: 100%;
    min-height: 316px;
    border-radius: 20px;
    padding-top: 96px;
    background-color: var(--background);
    font-family: var(--main-font);
}

.letter .content-wrap .vector-light,
.vector-dark {
    position: absolute;
    width: 146px;
    height: 91px;
}

.letter .content-wrap .vector-dark {
    bottom: 225px;
    left: 0;

}

.letter .content-wrap .vector-light {
    top: 225px;
    right: 0px;
}

.letter .content-letter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.letter .content-letter .title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 46px;
    color: var(--white-primary);
    margin-bottom: 48px;
}

.letter .content-letter .input:not(:last-child) {
    margin-right: 24px;
}

.letter .content-letter input {
    width: 100%;
    max-width: 270px;
    height: 58px;
    padding: 17px 16px 17px 20px;
    border-radius: 9px;
    text-align: center;
}

.letter .content-letter .input .light {
    background-color: var(--white-30);
    border: 1px solid transparent;
    color: var(--white-primary);
}

.letter .content-letter a .button {
    width: 100%;
    max-width: 256px;
    height: 58px;
    padding: 17px 16px 17px 20px;
    border: 1px solid transparent;
    border-radius: 9px;
    text-align: center;
    background-color: var(--white-primary);
    color: var(--black-gray-secondary);
}

.letter .content-letter a .button:hover {
    background-color: var(--primary-yellow);
}

/*---MEDIA QUERYES---*/
/*--SECTION TEAM--*/
/*---header-content--*/
@media (min-width:580px) {
    .team .header-content {
        display: flex;
        flex-direction: column;
        margin-bottom: 44px;
    }

    .team .header-left .text-top {
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 44px;
    }

    .team .header-right .text-bottom {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 54px;
    }

    .team .header-right {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .team .text-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 1150px;
        font-size: 2.3rem;
        font-weight: 700;
        line-height: 64px;
    }

    .team .header-right .border {
        width: 100%;
        max-width: 1080px;
        border-bottom: 1px solid var(--black-gray-gray-tone);
    }
}

@media (min-width:768px) {
    .team {
        padding: 128px 0 144px 0;
    }

    .team .header-content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 88px;
    }

    .team .header-left .text-top {
        font-size: 3rem;
        line-height: 64px;
    }

    .team .header-left .text-bottom {
        font-size: 3.75rem;
        line-height: 64px;
    }

    .team .header-right {
        font-size: 3.5rem;
        line-height: 74px;
    }

    .team .text-right {
        font-size: 3rem;
    }
}

/*---cards----*/

/*--SECTION-CLIENT--*/
@media (min-width:380px) {}

@media (min-width:768px) {
    .client {
        padding: 96px 0;
    }

    .client .container {
        padding: 0 102px;
    }

    .client .swiper-wrapper {
        min-height: 450px;
    }

    .client .swiper-slide {
        display: flex;
        flex-direction: row;
    }

    .client .swiper-slide .section-information {
        padding-top: 0;
    }
}

/*---section-image----*/
@media (min-width:380px) {
    .client .section-content .background-col {
        position: absolute;
        top: -5px;
        left: 44px;
        width: 100%;
        max-width: 232px;
        height: 470px;
        border-radius: 12px;
        background-color: var(--secondary-yellow);

    }

    .client .section-content .image {
        position: absolute;
        top: 30px;
        width: 100%;
        max-width: 318px;
        padding: 40px;
        background-color: var(--white-primary);
        border-radius: 8px;
        box-shadow: 0px 8px 24px 0px rgba(34, 48, 114, 0.07);
    }

    .client .image img {
        width: 100%;
        max-width: 238px;
        margin-bottom: 24px;
    }

    .client .image .image-title {
        max-width: 232px;
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 24px;
        margin-bottom: 8px;
        text-align: center;

    }

    .client .image .image-icon {
        max-width: 232px;
        color: var(--secondary-yellow);
        text-align: center;
    }
}

@media (min-width:768px) {

    .client .section-content .background-col {
        position: absolute;
        top: -5px;
        left: 44px;
        width: 100%;
        max-width: 180px;
        height: 390px;
        border-radius: 12px;
        background-color: var(--secondary-yellow);

    }

    .client .section-content .image {
        position: absolute;
        top: 30px;
        left: 30px;
    }

}

@media (min-width:820px) {
    .client .section-content .image {
        position: absolute;
        left: 20px;
    }
}

@media (min-width:880px) {
    .client .section-content .background-col {
        max-width: 200px;
        height: 410px;
    }

    .client .section-content .image {
        position: absolute;
        top: 30px;
        left: 10px;
    }
}

@media (min-width:932px) {

    .client .section-content .background-col {
        position: absolute;
        top: -5px;
        left: 44px;
        width: 100%;
        max-width: 200px;
        height: 450px;
        border-radius: 12px;
        background-color: var(--secondary-yellow);

    }

    .client .section-content .image {
        position: absolute;
        top: 30px;
        left: 0;
    }

}

@media (min-width:992px) {
    .client .section-content {
        width: 100%;
        max-width: 318px;
        position: relative;
    }

    .client .section-content .background-col {
        position: absolute;
        top: -5px;
        left: 44px;
        width: 100%;
        max-width: 232px;
        height: 470px;
        border-radius: 12px;
        background-color: var(--secondary-yellow);

    }

    .client .section-content .image {
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        max-width: 318px;
        padding: 40px;
        background-color: var(--white-primary);
        border-radius: 8px;
        box-shadow: 0px 8px 24px 0px rgba(34, 48, 114, 0.07);
    }

    .client .image img {
        width: 100%;
        max-width: 238px;
        margin-bottom: 24px;
    }
}

/*----section-information------*/
@media (min-width:768px) {
    .client .section-information {
        margin-left: 115px;
    }
}

/*--SECTION-CONSULT--*/
@media (min-width:530px) {
    .consult .header-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 72px;

    }

    .consult .header-left {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 900px;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 54px;

    }

    .consult .header-left .border {
        width: 100%;
        max-width: 900px;
        border-bottom: 1px solid var(--black-gray-gray-tone);
    }

    .consult .header-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .consult .header-right .text-top {
        font-size: 2rem;
        font-weight: 600;
        line-height: 54px;
    }

    .consult .header-right .text-bottom {
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 54px;
    }

    .consult .content {
        display: flex;
        flex-direction: column;
    }

    .consult .section-form .row {
        display: flex;
    }
}

@media (min-width:768px) {
    .consult .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 72px;
    }

    .consult .content-wrap {
        padding: 120px 0;
    }

    .consult .section-form {
        padding: 48px 66px 48px 98px;
    }

    .consult .section-form {
        margin-top: 0;
    }

    .consult .section-form .row {
        display: block;
    }
}

@media (min-width:1018px) {
    .consult .section-form .row {
        display: flex;
    }
}

/*---section-image----*/
@media (min-width:420px) {
    .consult .section-img .background-col {
        width: 100%;
        height: 410px;
    }
}

@media (min-width:530px) {
    .consult .section-img {
        width: 100%;
        max-width: 496px;
        max-height: 588px;
        font-family: var(--main-font);
    }

    .consult .section-img .background-col {
        position: static;
        right: 30px;
        width: 100%;
        max-width: 380px;
        height: 588px;
        border-radius: 32px;
        background-color: var(--primary-blue);
        background-size: cover;
    }
}

@media (min-width:768px) {
    .consult .section-img {
        position: relative;
        width: 100%;
        max-width: 496px;
        max-height: 588px;
        font-family: var(--main-font);
    }

    .consult .section-img .background-col {
        position: absolute;
        right: 30px;
        width: 100%;
        max-width: 380px;
        height: 408px;
        border-radius: 32px;
        background-color: var(--primary-blue);
        background-size: cover;
    }
}

@media (min-width:992px) {
    .consult .section-img .background-col {
        position: absolute;
        left: 0;
        width: 100%;
        max-width: 380px;
        height: 558px;
    }
}

/*--SECTION-LETTET--*/
@media (min-width:768px) {

    .letter .content-letter .title {
        font-size: 2.625rem;
    }


    /*---FOOTER---*/
}

.footer-content {
    padding: 33px 0;
}

.footer-content {
    color: var(--white-primary);
    background-color: var(--primary-blue);
}

.footer-content .container .item {
    margin-left: 0;
}

.footer-content .item:not(:last-child) {
    border-right: 1px solid var(--white-30);
    margin-right: 61px;
    padding-right: 61px;
}

.footer-content .item .logo-icon img {
    max-width: 39px;
}

.footer-content .item .logo-title {
    font-family: var(--logo-title-font);
    font-size: 2.133rem;
    font-weight: 500;
    line-height: 26px;
}

.footer-content .item .logo,
.logo-title {
    margin-bottom: 5px;
}

.footer-content .item .description {
    font-family: var(--main-font);
    max-width: 260px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 34px;
}

.footer-content .item .title {
    font-family: var(--main-font);
    font-size: 0.875rem;
    margin-bottom: 40px;
}

.footer-content .item .title-description {
    max-width: 180px;
    font-size: 1.75rem;
    font-family: var(--main-font);
    margin-bottom: 40px;
}

.footer-content .item .description-information {
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: 400;
}

.footer-content .text-information:not(:last-child) {
    margin-bottom: 8px;
}

.list-link li {
    list-style: none;
}

footer a {
    color: var(--white-primary);
}

footer .list-link {
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: 400;
}

footer li {
    margin-bottom: 16px;
}

footer .list-link .link-right {
    margin-right: 20px;
}

footer .contact {
    font-size: 1rem;
    font-weight: 400;
    font-weight: 24px;
    margin-bottom: 32px;
}

footer .address {
    margin-bottom: 8px;
}

footer address {
    max-width: 150px;
}

.footer-copyright {
    background-color: var(--background);
    min-height: 64px;
}

.footer-copyright .text-copyright {
    padding: 20px 0;
    text-align: center;
    color: var(--white-primary);
}


@media (min-width:768px) {
    .footer-content {
        padding: 96px 0;
    }

    footer .container {
        display: flex;
        flex-wrap: wrap;
        gap: px;
    }

    .col-1-2 {
        width: calc(50% - 61px);
    }

}

@media (min-width:1100px) {
    .row {
        flex-wrap: nowrap;
    }

    .col-1-4 {
        width: calc(25% - 46px);
    }

}